body{
    background-color:#2e1cb2
}

.wrapper{
    display:grid;
    grid-template-rows:80px 50px auto 50px;
    grid-template-columns: 2fr;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    background-color:rgb(35, 12, 116);
    color: rgb(193, 3, 72);

    
}
.wrapper2{
   
    background-color:rgb(29, 3, 106);
       
}

.wrapper3{
   
    background-color:rgb(29, 3, 106);
    color: rgb(21, 255, 4);
    
 
       
}
img{
    border-radius: 4px;
    width: 500px;
}


header{
    grid-area:header;
}
h1{
    text-align:center;
    color:white;
    text-decoration:underline;
    font-size: 40px ;
      border: 1px solid black;
      border-radius: 100px;
      border-width: 3px;
      border-bottom-color: aqua;
      border-top-color: red;
      background-color: rgb(28, 31, 31);
      
}

h2{
    color:rgb(19, 83, 138);
    text-decoration:overline;
    
}
p{
    border: 1px solid rgb(247, 14, 14);
    border-style:groove;
}

a{
    text-decoration:none; 
    border: 1px solid rgb(34, 15, 15);
    
}

nav{
    grid-area:nav;
    
}
nav>ul {
    display:grid;
    grid-template-columns: 8fr 2fr 1fr;
    list-style-type:none;
}
¨


main{
    grid-area:main;
}