body{
    background-color:#2e1cb2 
}
/* alla mina body ska ha denna färgen, blå */

.wrapper{
    width: 101%;
    display:grid;
    grid-template-rows:100px 50px auto 80px;
    grid-template-columns: 2fr;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    background-color:rgb(35, 12, 116);
    color: rgb(193, 3, 72);
    /* alla kod som sätter I main kommer att ändra sitt egenskaper beror på vad man skriver*/

    
}
tycker .wrapper{/*Här så vill jag har allt som finns på .wrapper men vill ändra lite därför giv jag wrapper en id som hetter tycker.   */ 
   
    background-color:rgb(29, 3, 106);
    color: white;
       
}

värförp .wrapper{
   
    background-color:rgb(29, 3, 106);
    color: rgb(21, 255, 4);
       
}
img{/* ändra storlek på bilden */
    border-radius: 4px;
    width: 500px;
}


header{/*ger en grid area för header  */
    grid-area:header;
}
h1{/*ändra egenskaper på h1  */
    text-align:center;
    color:white;
    text-decoration:underline;
    font-size: 40px ;
      border: 1px solid black;
      border-radius: 100px;
      border-width: 3px;
      border-bottom-color: aqua;
      border-top-color: red;
      background-color: rgb(28, 31, 31);
      
}

h2{/* ändra egenskaper på h2 */
    color:rgb(19, 83, 138);
    text-decoration:overline;
    
}

h3{/* ändra egenskaper på h3 */
    color: red;
}
h4{/* ändra egenskaper på h4 */
    color: red;
}
h5{/* ändra egenskaper på h5 */
    font-size: large;
    color: aliceblue;
    
}
p{/* ändra egenskaper på p   */
    border: 1px solid rgb(247, 14, 14);
    border-style:groove;
}
.favoritspel { /* Detta är p men gav en class på den  */ 
    text-decoration: none;
    border: none;
     color: white;
}

nav a{/* Detta är för listan som jag skapade för länker*/ 
    text-decoration:none; 
    color:white;
    border: 1px solid rgb(110, 91, 91);
    border: 1px solid black;
      border-radius: 100px;
      border-width: 3px;
      border-bottom-color:green;
      border-top-color:white;
      background-color: rgb(28, 31, 31);
    
    
}
a{/* allt text som är definerat som a ändrar egenskapr, alltså länker  */
    text-decoration: none;
    border: none;
    color: white;
     
    
    
}

nav{/* ger en grid are för nav  */
    grid-area:nav;
    
}
nav>ul {/* ändra egenskaper på texten för listan  */
    display:grid;
    grid-template-columns: 8fr 2fr 1fr;
    list-style-type:none;
}

table , td{ /*egenskaper för min table  */ 
    height: 50px;
    width: 800px;
    border: 3px solid rgb(255, 255, 255);
    border-style: dashed;
    border-collapse: collapse;

}


tr:nth-child(even) {   /* Detta används för zebbra striping */ 
    background-color: #0c0c0c;
    color: rgb(255, 255, 255);
    
  }
  
  tr:nth-child(odd) {   /*Samma men den funkar på odd  */ 
    background-color: #fdfff4;
    color: rgb(0, 0, 0);
  }

main{/*ger min main en grid area.   */
    grid-area:main;
}